.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.grid-item {
    border: 1px solid rgba(19,19,19,0.8);
    background-color: beige;
    
}